section {
  text-align: center;
  margin: 250px
 
}

.clicker {
  font-size: 30px;
}

.count {
  font: {
    size: 40px;
  
  }
  margin: 50px; 
  color: rgb(116, 207, 214);
}

.show {
  visibility: visible;

}

.hide {
  visibility: hidden;
}